ol {
  background-color: yellow;
}
li.impar{
  color: green;
}
li.par{
  text-transform: lowercase;
}
h1, h3{
  color: red;
}
h1 em {
  font-size: 40px;
  border: 1px solid black;
}
li {
  font-size: 20px;
}
li em {
  font-weight: bolder;
}
li.top-tres {
  color: blue;
}
li.java {
  background-color: pink;
}
li a.stackoverflow:hover{
color: orange;
}
li a.wts:hover{
color: green;
}
li a.mdn:hover{
  color: black;
}
li a.ddocs:hover{
  color: yellow;
}
li a.trybe:hover{
  color: rgb(6, 63, 6);
}