.super-mario {
  width: 200px;
  position: absolute;
  left: 30px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 380px;
  left: 80px;

}

.baloon {
  width: 350px;
  position: absolute;
  top: 190px;
  left: 255px;
}

.speach {
  font-size: 25px;
  position: absolute;
  top: 240px;
  left: 275px;
  z-index: 1;

}

.bowser {
  width: 200px;
  position: absolute;
  top: 350px;
  left: 35%;

}