h1 {

  text-align: center;

}


.first {

  display: inline-block;

  position: absolute;

  left: 665px;

  background-color: rgb(235, 200, 84);

  font-size: 20px;

  height: 50px;

  text-align: center;

  width: 200px;

}


.second {

  display: inline-block;

  position: absolute;

  top: 131px;

  left: 463px;

  background-color: rgb(219, 219, 219);

  font-size: 20px;

  height: 50px;

  text-align: center;

  width: 300px;

}


.third {

  display: inline-block;

  position: absolute;

  top: 131px;

  left: 767px;

  background-color: rgb(170, 142, 106);

  font-size: 20px;

  height: 50px;

  text-align: center;

  width: 300px;

}

section.premiacao {
  display: inline;
  position: absolute;
  left: 655px;
  top: 200px;
}

.premios li {
  position: relative;

  display: inline-block;

  text-align: center;

  left: -250px;
}